@font-face {
    font-family: "Aniron";
    font-style: normal;
    font-weight: normal;
    src: local("Aniron"), url("font/anirm___.woff") format("woff");
}

@font-face {
    font-family: "Aniron Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Aniron Bold"), url("font/anirb___.woff") format("woff");
}

h1 {
    font-family: "Aniron Bold";
    margin: 0 1rem;
}

.flex {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
}

body {
    background-image: url("parchemin.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.ring {
    width: 50px;
    height: 50px;
    border: 5px solid #FF5A00;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 1.5px 1.5px 2.5px #cc4800, 1.5px 1.5px 2.5px #cc4800;
    margin: 1rem 0;
}

.bigRing {
    width: 200px;
    height: 200px;
    border: 20px solid #FCCA02;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 6px 6px 10px #c9a102, 6px 6px 10px #c9a102;
    margin: 1rem 0;
}

.repeatRing-1 {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid #3A3A37;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0.045rem 0.045rem 0.075rem #20201e, 0.045rem 0.045rem 0.075rem #20201e;
    margin: 1rem 0;
    margin-left: -5px;
}

.repeatRing-2 {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #3A3A37;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0.06rem 0.06rem 0.1rem #20201e, 0.06rem 0.06rem 0.1rem #20201e;
    margin: 1rem 0;
    margin-left: -10px;
}

.repeatRing-3 {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.25rem solid #3A3A37;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0.075rem 0.075rem 0.125rem #20201e, 0.075rem 0.075rem 0.125rem #20201e;
    margin: 1rem 0;
    margin-left: -15px;
}

.repeatRing-4 {
    width: 3rem;
    height: 3rem;
    border: 0.3rem solid #3A3A37;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0.09rem 0.09rem 0.15rem #20201e, 0.09rem 0.09rem 0.15rem #20201e;
    margin: 1rem 0;
    margin-left: -20px;
}

.repeatRing-5 {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.35rem solid #3A3A37;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0.105rem 0.105rem 0.175rem #20201e, 0.105rem 0.105rem 0.175rem #20201e;
    margin: 1rem 0;
    margin-left: -25px;
}

.repeatRing-6 {
    width: 4rem;
    height: 4rem;
    border: 0.4rem solid #3A3A37;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0.12rem 0.12rem 0.2rem #20201e, 0.12rem 0.12rem 0.2rem #20201e;
    margin: 1rem 0;
    margin-left: -30px;
}